<%- include header %>
<div class="am-u-lg-11 blog-main">
<p>
<% if (user && (user.name == post.name)) { %>
  <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time %>/<%= post.title %>">编辑</a></span>
  <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time %>/<%= post.title %>">删除</a></span>
<% } %>
</p>
<p class="am-article-meta blog-meta">
  作者：<span class="author"><a href="/u/<%= post.name %>"><%= post.name %></a></span> | 
  日期：<%= post.time %> | 
  Tags：
      <% for(var i in post.tags) { %>
        <% if (post.tags[i]) { %>
          <a class="tag am-badge am-badge-success am-radius" href="/tags/<%= post.tags[i] %>"><%= post.tags[i] %></a>
        <% } %>
      <% } %>
</p>
<p><%- post.post %></p>
<p class="info blog-meta">阅读：<%= post.pv %> | 评论：
  <% if (comments) { %>
    <%= comments.length %>
  <% } else {%>
    <%= 0 %>
  <% } %>
</p>
<%- include comment %>
</div>
<%- include footer %>