<hr/>
<ul class="am-comments-list">
<% for (var i in comments){ %>
  <li class="am-comment">
    <div class="am-comment-main">
      <header class="am-comment-hd">
        <div class="am-comment-meta">
          <%= comments[i].name %> 评论于 <%= comments[i].time %>
        </div>
      </header>
      <div class="am-comment-bd">
       <%- comments[i].post %>
      </div>
    </div>
  </li>
<% } %>
</ul>
<hr/>
<form method="post" class="am-form am-form-horizontal">
<% if (user) { %>
  大名：<input type="text" required="true" class="am-form-field am-input-sm" name="name" value="<%= user.name %>" />
  邮箱：<input type="email" required="true" class="am-form-field am-input-sm" name="email" value="<%= user.email %>" /><br>
<% } else { %>
  姓名：<input type="text" required="true" class="am-form-field am-input-sm" name="name" />
  邮箱：<input type="email" required="true" class="am-form-field am-input-sm" name="email" /><br>
<% } %>
  <textarea name="content" rows="5" cols="80" class="comment-textarea"></textarea>
  <input type="submit" value="评论" class="am-btn am-btn-primary am-btn-sm float-rt" />
</form>