<hr/>
<ul class="am-comments-list">
<% for (var i in comments){ %>
  <li class="am-comment am-comment-success">
    <div class="am-comment-main">
      <header class="am-comment-hd">
        <div class="am-comment-meta">
          <%= comments[i].name %> 评论于 <%= comments[i].time %>
        </div>
      </header>
      <div class="am-comment-bd">
       <%- comments[i].post %>
      </div>
    </div>
  </li>
<% } %>
</ul>

<form method="post">
<% if (user) { %>
  姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
  邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
<% } else { %>
  姓名：<input type="text" name="name" /><br />
  邮箱：<input type="text" name="email" /><br />
<% } %>
  <textarea name="content" rows="5" cols="80"></textarea>
  <input type="submit" value="留言" class="am-btn am-btn-primary am-btn-sm" />
</form>