<%- include header %>
<div class="am-u-lg-11 blog-main">
<form method="post">
  标题：<br />
  <input type="text" name="title" value="<%= post.title %>" /><br />
  标签：<br />
  <input type="text" name="tags" value="<% for(var i in post.tags) { %><% if (post.tags[i]) { %><%= post.tags[i]+',' %><% } %><% } %>"/><br />

  正文：<br />
  <textarea name="post" rows="15" cols="80" class="post-textarea"><%= post.post %></textarea>
  <input type="submit" value="保存修改" class="am-btn am-btn-primary am-btn-sm" />
</form>
</div>
<%- include footer %>