<%- include header %>
<div class="am-u-lg-11">
  <% posts.forEach(function (post, index) { %>
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/u/<%= post.name %>/<%= post.time%>/<%= post.title %>"><%= post.title %></a>
      </h3>
      <h4 class="am-article-meta blog-meta">
        作者：<span class="author"><a href="/u/<%= post.name %>"><%= post.name %></a></span> | 
        日期：<%= post.time %> | 
        Tags：
        <% for(var i in post.tags) { %>
          <% if (post.tags[i]) { %>
              <a class="tag am-badge am-badge-success am-radius" href="/tags/<%= post.tags[i] %>"><%= post.tags[i] %></a>           
          <% } %>
        <% } %>
      </h4>
      <div class="blog-content">
        <%- post.post %>
      </div>
    </article>
    <hr class="am-article-divider blog-hr" />
  <% }) %>
  <%- include paging %>
</div>
<%- include footer %>

        
